form {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;

  .visually-hidden {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  .field--name-description-summary .filter-wrapper {
    display: none;
  }

  div.form-item, div.field--widget-datetime-default {
    width: 100%;

    label.visually-hidden {
      position: relative !important;
    }

    &> * {
      display: inline-block;
    }

    &> label, &> h4 {
      width: 156px;
      vertical-align: top;
    }

    label, h4 {
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 2em;
      color: #211F21;
    }
  }

  .form-item input[type=text] {
    width: 100%;
    max-width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-bottom: 12px;
  }

  .form-item.form-type-textarea > div {
    width: 100%;
    max-width: 640px;
  }

  .salary-widget-default div.inline-item {
    width: auto;
  }

  span.fieldset-legend {
    font-size: 20px;
    font-weight: 600;
    z-index: 5;
    background: $fmcg-chrome;
    padding-right: 12px;
  }

  legend {
    position: relative;
    width: 100%;
    z-index: 5;
    background: $fmcg-chrome;
    margin-bottom: 12px;
  }

  span.fieldset-legend:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #9ABAD2;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
  }

  span.field-prefix {
    padding-right: 5px;
    font-size: 16px;
  }

  input.button, input[type=submit] {
    margin: 8px 8px 0px 0px;
  }

  div.filter-wrapper {
    display: none;
  }

  @media (min-width: $lg) {
  .description {
    padding-left: 163px;
    }
  }
}

.form-item {
  label, h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 2em;
    color: $fmcg-yellow;
  }

  &.focused, &:focus-within {
    > label, > h4 {
      color: $fmcg-yellow;
    }
  }

  input[type=text], input[type=url], input[type=date], input[type=number], input[type=email], input[type=password], input[type=search], input[type=tel], .select2-container--fmcg_material, textarea, select {
    width: 100%;
    max-width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-bottom: 12px;
    font-family: Roboto;
    font-size: 16px;

    &.select2-search__field {
      border: none;
      background: none;

      &:focus {
        border: none;
      }
    }

    &:focus {
      border: 2px solid #FDD22B;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    &:focus-within label {
      color: $fmcg-yellow;
    }

    &[type=date], &[type=number] {
      width: initial;
      display: inline-block;
    }
  }
}

.form-item > select {
  max-width: 800px;
}

.form-item input[type=url] {
  width: 100%;
  max-width: 640px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 8px 0;
  padding-right: 10px;
  padding-left: 10px;
}

.form-item > select {
  max-width: 640px;
  position: relative;
}

input[type=date] {
  padding: 7px;
  text-transform: uppercase;
}

.field--name-application-deadline {
  margin-bottom: 16px;
}

@media (min-width: $lg) {
  .salary-widget-default .fieldset-wrapper .inline-item:first-child {
    margin-left: 156px;
  }

  .salary-widget-default .form-item.form-type-select {
    overflow: unset;
    margin-left: 8px;
  }
}

.field--type-datetime {
  margin-bottom: 16px;
}

.datetime-help-text {
  position: absolute;
  margin-top: -24px;
  margin-bottom: 6px;
  max-width: 640px;
}

.form-type-radio {
  label.option {
    width: 100%;
    display: block;
  }
}
