.hexagon {
  position: relative;
  width: 40px;
  height: 24px;
  background-color: $fmcg-teal;
  margin: 28.86px 12px;
  transform: rotate(90deg);

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom-color: $fmcg-teal;
    border-top-color: $fmcg-teal;
  }

  &:before {
    bottom: 100%;
    border-bottom-width: 11.55px;
    border-bottom-style: solid;
  }

  &:after {
    top: 100%;
    width: 0;
    border-top-width: 11.55px;
    border-top-style: solid;
  }

  &:hover {
    background-color: $fmcg-grey;
    color: $fmcg-teal;
    &:before, &:after {
      border-bottom-color: $fmcg-grey;
      border-top-color: $fmcg-grey;
    }
    a, a:before {
      color: $fmcg-teal;
    }
  }
}

li.hexagon.menu-item:last-child {
  background-color: $fmcg-red;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom-color: $fmcg-red;
    border-top-color: $fmcg-red;
  }

  &:hover {
    background-color: $fmcg-grey;
    color: $fmcg-dark-teal;
    &:before, &:after {
      border-bottom-color: $fmcg-grey;
      border-top-color: $fmcg-grey;
    }
    a, a:before {
      color: $fmcg-dark-teal;
    }
  }
}
