.path-job {
  .row-wrapper {
    padding: 0px;
  }

  div#main-content {
    background-color: #FFFFFF;
    padding: 0 20px 20px;

    h4 {
      color: $fmcg-black;
    }

    p {
      color: #211F21;
    }
  }
}

.job-header {
  background-color: $fmcg-chrome;
  padding: 20px;
  margin: 0px -20px 12px -20px;
  border-bottom: 1px solid $fmcg-black;
/**
  &::after {
    content: "";
    height: 0;
    width: 370px;
    border-bottom: 142px solid #FFFFFF;
    border-left: 36px solid transparent;
    position: absolute;
    top: -20px;
    right: -20px;
  }
**/
  .field-name-label {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3em;
  }
}

.company-info-container {
  box-shadow: none;
  background-color: $fmcg-chrome;
  padding: 12px 20px;

  .category, .salary {
    .field-label {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      color: $fmcg-black;
      display: table;
    }
  }

  .field-item {
    font-family: Roboto;
    font-size: 13px;
  }
}

.field-type-job-role-salary {
  margin-bottom: 20px;
}

.full-job-description, .salary, .supporting-documents {
  .field-label {
    font-size: 20px;
    color: $fmcg-black;
  }

  .field-item {
    font-family: Roboto;
    font-size: 13px;
  }
}

@media (min-width: $md) {
  .company-info-container {
    margin-top: 12px;
  }
}

.user-id {
  background-color: $fmcg-chrome;
  padding: 20px 20px 0px 20px;
  margin: -20px -20px 0px -20px;

  a {
    color: $fmcg-black;
    font-weight: 600;
    font-size: 24px;

    &:hover {
      color: $fmcg-yellow;
    }
  }
}

.primary-action-buttons {
  nav, li {
    display: inline;
  }
}

//Jobs Page//

.path-jobs {
  form {
    max-width: 1200px;
  }

  .row-wrapper {
    padding: 0;
  }

  .views-exposed-form {
    margin: -20px -20px 0px -20px;

    label {
      color: $fmcg-yellow;
      font-weight: 600;
    }

    .card-item {
      margin-top: -24px;
    }

    .views-exposed-form {
      border-radius: 0;
      box-shadow: none;
      padding-bottom: 30px;
    }

    .col-xs-12 {
      padding: 0px;
    }
  }
}
