.ui-dialog {
  background-color: #FFFFFF;
  font-family: Poppins;
  padding: 0;
  box-shadow: 10px 10px 11px 0px rgba(33,31,33,0.5);

  .ui-dialog-titlebar {
    background-color: $fmcg-dark-teal;
    color: $fmcg-yellow;
    padding: .4em 1em;
    position: relative;
    font-size: 18px;
  }

  .ui-corner-all {
    border: none;
    border-radius: 0;
  }

  .ui-widget.ui-widget-content {
    border: none !important;
    color: $fmcg-dark-teal;
  }
}
