@charset "UTF-8";

@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// !!! check path
@import "../../../contrib/material_base/sass/reset";
@import "../../../contrib/material_base/sass/color-palette";
@import "variables";
@import "../../../contrib/material_base/sass/variables";
@import "../../../contrib/material_base/sass/modules";

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Lato');

// put your styles here
// you can @extend anything from base theme

h1 {
  color: #4BBAFF;
}
h2 {
  color: #FF904B;
}
p strong {
  font-weight: bold;
}
a.card {
  display: block;
  margin-bottom: 8px;
}
.region.region-content {
  position: relative;
}

details > summary {
  padding: 12px 16px 12px 40px;
  position: relative;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::before {
  font-family: "Material Icons";
  font-weight: normal;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -mos-osx-font-smoothing: greyscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  content: "chevron_right";
  font-size: 20px;
  position: absolute;
  left: 12px;
  top: 14px;
  color: rgba(0,0,0,.54);
  transition: transform 0.25s ease;
}
details[open] > summary::before {
  transform: rotate(90deg);
}
details > summary span.description {
  font-size: 0.6em;
  display: block;
}
details > div {
  margin-top: 0 !important;
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 12px 16px 12px 40px;
}

details.captcha {
  summary {
    display: none;
  }

  div.g-recaptcha {
    padding: 0 0 12px;
    border: none;
  }
}

.form-item input[type=checkbox]:checked:disabled:before {
  color: #BBBBBB;
}

.path-frontpage header#header::before {
  content: '';
  background-image: url(../peoplebglesssmall.png);
  position: absolute;
  width: 400px;
  height: 300px;
  bottom: 0;
  left: 0;
  background-size: 400px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
@media only screen and (max-width: $md) {
  .path-frontpage header#header::before {
    background-size: 300px;
  }
}
@media only screen and (max-width: $sm) {
  .path-frontpage header#header::before {
    background-image: none;
    width: 0;
    height: 0;
  }
}
.path-frontpage header#header {
  background-image: url(../header-bg.jpg);
  background-color: #b8e6ff;
  position: relative;
}
.path-frontpage.navbar-fixed #navbar {
  background-color: rgba(255,255,255,0.6);
}
.path-frontpage #header-content {
  margin: 120px 0 80px;
  text-align: center;
}
.path-frontpage .header-front {
  display: inline-block;
  position: relative;
  padding-left: 120px;
  text-align: left;
}
.path-frontpage .header-front::before {
  content: ' ';
  background-image: url(../logo.svg);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
}
.path-frontpage .header-front h1 {
  margin-bottom: 0;
  margin-top: 24px;
}
.path-frontpage .header-front span.tagline {
  color: #FF904b;
  font-size: 1.1em;
}
.header-front-ctas .button-cta {
  margin: 40px 15px;
}

.navbar-fixed #navbar,
.navbar-fixed #navbar.navbar-bg {
  background-color: #FFFFFF;
}
.navbar-title a {
  color: color($color-accent-base,400);
  font-weight: bolder;
  font-family: "Montserrat";
}
.navbar-menu .menu a {
  color: color($color-accent-base,400) !important;
  font-weight: bolder;
}
.navbar-menu .menu .active-trail a,
.navbar-menu .menu .is-active,
.navbar-menu .menu a:hover {
  border-color: color($color-accent-base, 400);
}
.navbar-branding > div:not(.contextual) + div {
  margin-left: 0px;
}

#block-christianjobsuserbutton {
  margin-right: 0;
}
@media (max-width: $ss) {
  .navbar-title a {
    font-size: initial;
  }
}

.form-type-select .description {
  display: none;
}

/* CTA Buttons */
a.button-cta,
#block-cj-material-local-actions nav .button.button-action,
input.button {
  margin-top: 1em;
  border: 3px solid transparent;
  border-radius: 2px;
  color: #fff;
  background: #4BBAFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 20px;
  min-height: 54px;
  height: initial;
  min-width: 100px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .15s cubic-bezier(.4,0,.2,1),background-color .15s cubic-bezier(.4,0,.2,1);
  will-change: background-color;
}
.form-actions input.button {
  margin-top: 8px;
}
input.button:hover,
#block-cj-material-local-actions nav .button.button-action:hover,
a.button-cta:hover {
  color: #4BBAFF;
  background: #FFFFFF;
  border: 3px solid #4BBAFF;
}
input.button.button-orange,
#block-cj-material-local-actions nav .button.button-action,
a.button-cta.button-orange {
  background: #FF904B;
}
input.button.button-orange:hover,
#block-cj-material-local-actions nav .button.button-action:hover,
a.button-cta.button-orange:hover {
  background: #FFFFFF;
  color: #FF904B;
  border: 3px solid #FF904B;
}

#block-cj-material-local-actions nav .button.button-action {
  margin-top: 0;
  padding: .5em;
  min-height: initial;
}
#block-cj-material-local-actions nav li {
  display: inline-block;
  list-style-type: none;
}

#block-cj-material-local-actions {
  position: absolute;
  right: 0;
  top: 0;
}
.path-jobs #block-cj-material-page-title {
  float: left;
}
.path-jobs #block-cj-material-content {
  clear: both;
}

.views-exposed-form input.button, .user-login-form input.button, .user-register-form input.button,
.executive-search-initiate-form input.button {
  padding: 6px 12px;
  min-height: 0;
}

@media only screen and (min-width: $sm) {
  .layout__region--aside div.field-name-logo,
  .layout__region--aside div.field-name-employer-name {
    text-align: center;
  }
}
.layout__region--aside div.field-name-employer-name h2 {
  margin-top: 0;
}

.field-label {
  font-weight: bold;
  color: #FF904B;
}

h2.company-name {
  margin-top: -0.5em;
}

/* Layout Builder */
#layout-builder {
  .hidden-sm, .hidden-md, .hidden-lg,
  .visible-sm, .visible-md, .visible-lg {
    display: block !important;
    background-color: rgba(255,0,0,.6);
  }
  .draggable {
    min-height: 2em;
  }
}

/* Job Result */
.job-result {
  margin: 0.5em 0;
}
.job-result .subtitle.employer-name a {
  color: #FF904b;
  font-weight: bold;
}
.job-result span.views-label {
  color: #FF904B;
  min-width: 5em;
  display: inline-block;
  font-weight: bold;
}
.job-result .views-field-keywords-target-id {
  font-size: 0.9em;
  font-weight: bold;
}
.job-result p.address {
  display: inline-block;
  margin-bottom: 0;
}
.job-result p.address {
  br {
    display: none;
  }
  span::after {
    content: ',';
  }
  span:last-child::after {
    content: '';
  }
}
.job-result .card-media.media-cover {
  padding: 4px;
}
.job-result .card-media.media-cover img {
  -o-object-fit: contain;
  object-fit: contain;
}

/* Front Sections */
.front-features .col-left {
  display: flex;
  z-index: 2;
}

.front-features .col-left-content {
  margin: 16px 0;
  align-items: center;
  position: relative;
  width: 100%;
  color: #FFFFFF;
  background: #FF904b;
}

.front-features .col-right-content {
  margin: 16px 0;
  position: relative;
  background-color: #4bbaff;
  color: #FFFFFF;
  font-size: 1.2em;
}

.path-frontpage .package {
  margin-top: 0;
}
.path-frontpage .package .package-title-container {
  background-color: #FFFFFF;
}
.path-frontpage .package:hover .package-title-container {
  background-color: #fafafa;
}

p.scripture {
  font-size: 1.2em;
}

@media only screen and (min-width: $md) {
  .front-features .col-right-content {
    margin: 32px 12px;
    max-width: 568px;
    justify-content: flex-end;
    min-height: 240px;
  }
  .front-features .col-left {
    justify-content: flex-end;
  }
  .front-features .col-left-content {
    margin: 32px 12px;
    max-width: 568px;
  }
  .front-features div.pull-bottom {
    position: absolute;
    bottom: 16px;
  }
}

#footer {
  background: #414141;
  color: #BDBDBD;
}
#footer .services-icons.icon-primary {
  background: #B1B1B1;
  transition: background-color .2s ease-out;
  margin-bottom: -3px;
}
#footer .services-icons.icon-primary:hover,
#footer .services-icons.icon-primary:focus {
  background-color: #FFFFFF;
}

div.footer-logo {
  line-height: 0;
  margin-bottom: 16px;
  margin-top: 8px;
}
div.footer-contact, div.footer-links {
  font-size: 1.1em;
}
div.footer-contact a, div.footer-links a {
  color: #BDBDBD;
  transition: color .2s ease-out;
}
div.footer-contact a:hover, div.footer-links a:hover,
div.footer-contact a:hover, div.footer-links a:focus {
  color: #FFFFFF;
}

span.upsell-price {
  font-weight: bold;
  color: #FF904b;
}
span.upsell-price .tax {
  font-size: 0.7em;
}

.card .card-item.card-actions .form-actions {
  margin: 0;
}

@media (max-width: $xs) {
  .header-front-ctas .button-cta {
    margin: 8px 15px;
  }
}

.col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
.col-md-11, .col-md-12, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  select {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

#navbar-user-button {
  .navbar-icon {
    height: 36px;
    width: 36px;
    margin: 6px;
    font-size: 36px;
  }
  .navbar-icon:hover {
    color: #4BBAFF;
  }
  .navbar-icon.user-authenticated {
    color: #FF904B;
  }
}

.pager .pager-item.item-current > a, .pager .pager-item.item-current > span {
  color: #FF904b;
}

.section-wrapper {
  padding-bottom: 30px;
  padding-top: 25px;
}
.section-wrapper--grey {
  background: #f6f6f6;
}
.section-wrapper .section {
  max-width: 1200px;
  margin: 0 auto;
}
h2.section-header {
  margin-bottom: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-bottom: 25px;
}
h2.section-header::after {
  background: #04baff;
  bottom: 0;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  width: 80px;
}

@media (min-width: $md) {
  .section-wrapper {
    padding-bottom: 75px;
  }
}
a.job-card:hover, a.job-card:focus,
a.partner-card:hover, a.partner-card:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.partner-card .card-media img {
  height: 215px;
  object-position: bottom;
}
.partner-card .card-item,
.job-card .card-item {
  color: rgb(65,65,65);
}
.partner-card .partner-cta {
  color: #FF904B;
}

details.captcha {
  overflow-x: hidden;
}

.card .social-media-sharing ul {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
}
.card .social-media-sharing ul li {
  flex: auto;
}
