@charset "UTF-8";

@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// !!! check path
@import "../../../contrib/material_base/sass/reset";
@import "../../../contrib/material_base/sass/color-palette";
@import "variables";
@import "../../../contrib/material_base/sass/variables";
@import "../../../contrib/material_base/sass/modules";

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Raleway');

// put your styles here
// you can @extend anything from base theme

h1 {
  color: #4BBAFF;
}
h2 {
  color: #FF904B;
}

.path-frontpage header#header {
  background-image: url(../header-bg.jpg);
  background-color: #b8e6ff;
}
.path-frontpage.navbar-fixed #navbar {
  background-color: rgba(255,255,255,0.6);
}
.path-frontpage #header-content {
  margin: 120px 0 80px;
  text-align: center;
}
.path-frontpage .header-front {
  display: inline-block;
  position: relative;
  padding-left: 120px;
}
.path-frontpage .header-front::before {
  content: ' ';
  background-image: url(../logo.svg);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
}
.path-frontpage .header-front h1 {
  margin-bottom: 0;
  margin-top: 24px;
}
.path-frontpage .header-front span.tagline {
  color: #FF904b;
  font-weight: bold;
}
.header-front-ctas .button-cta {
  margin: 40px 15px;
}

.navbar-fixed #navbar,
.navbar-fixed #navbar.navbar-bg {
  background-color: #FFFFFF;
}
.navbar-title a {
  color: color($color-accent-base,400);
  font-weight: bolder;
  font-family: "Montserrat";
}
.navbar-menu .menu a {
  color: color($color-accent-base,400) !important;
  font-weight: bolder;
}
.navbar-menu .menu .active-trail a,
.navbar-menu .menu .is-active,
.navbar-menu .menu a:hover {
  border-color: color($color-accent-base, 400);
}
.navbar-branding > div:not(.contextual) + div {
  margin-left: 0px;
}

.form-type-select .description {
  display: none;
}

/* CTA Buttons */
a.button-cta,
input.button {
  margin-top: 1em;
  border: 3px solid transparent;
  border-radius: 2px;
  color: #fff;
  background: #4BBAFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 20px;
  min-height: 54px;
  height: initial;
  min-width: 100px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .15s cubic-bezier(.4,0,.2,1),background-color .15s cubic-bezier(.4,0,.2,1);
  will-change: background-color;
}
.form-actions input.button {
  margin-top: 8px;
}
input.button:hover,
a.button-cta:hover {
  color: #4BBAFF;
  background: #FFFFFF;
  border: 3px solid #4BBAFF;
}
input.button.button-orange,
a.button-cta.button-orange {
  background: #FF904B;
}
input.button.button-orange:hover,
a.button-cta.button-orange:hover {
  background: #FFFFFF;
  color: #FF904B;
  border: 3px solid #FF904B;
}

@media only screen and (min-width: $sm) {
  .layout__region--aside div.field-name-logo,
  .layout__region--aside div.field-name-employer-name {
    text-align: center;
  }
}
.layout__region--aside div.field-name-employer-name h2 {
  margin-top: 0;
}

.field-label {
  font-weight: bold;
  color: #FF904B;
}

h2.company-name {
  margin-top: -0.5em;
}

/* Layout Builder */
#layout-builder {
  .hidden-sm, .hidden-md, .hidden-lg,
  .visible-sm, .visible-md, .visible-lg {
    display: block !important;
    background-color: rgba(255,0,0,.6);
  }
  .draggable {
    min-height: 2em;
  }
}

/* Job Result */
.job-result {
  margin: 0.5em 0;
}
.job-result .subtitle.employer-name a {
  color: #FF904b;
  font-weight: bold;
}
.job-result span.views-label {
  color: #FF904B;
  min-width: 5em;
  display: inline-block;
  font-weight: bold;
}
.job-result .views-field-keywords-target-id {
  font-size: 0.9em;
  font-weight: bold;
}
.job-result p.address {
  display: inline-block;
  margin-bottom: 0;
}
.job-result p.address {
  br {
    display: none;
  }
  span::after {
    content: ',';
  }
  span:last-child::after {
    content: '';
  }
}
